<form method="post" action="{% url 'app_setup:currency_delete' item.pk %}" class="js-currency-delete-form">
  {% csrf_token %}

<div class="modal-header">
        <h4 >
            {{wording.h1_delete}}
        </h4>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
        </button>
</div>
    {%  if deletable == True %}
          <div class="modal-body">
            <p class="lead">{{wording.approve_delete}}<strong>{{ item.name }}</strong>?</p>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
            <button type="submit" class="btn btn-success btn-lg pl-5 pr-5">{{wording.btn_delete}}</button>
        </div>


    {% else %}
          <div class="modal-body">
            <p class="lead">{{wording.not_deletable}} </p>
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
        </div>

    {% endif %}

</form>
