
{% for el in rates %}
    <tr>
        <td>{{ el.target }} / {{ el.source }}</td>
        <td>{{ el.rate }}</td>
        <td>
            <button type="button"
              class="js-update-rate btn btn-sm btn-link px-0"
              data-url="{% url 'app_setup:rate_update' el.id %}">
                <i class="far fa-pencil"></i>
            </button>
        </td>

    </tr>
{% endfor %}

