{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="google" value="notranslate"/>
        <title>FinS - Projects</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type=image/x-icon>

    </head>

    <body>
        {% include 'menu_app.html' %}


        <div id="app">
            <section class="header ">
                {% block header %}
                {% endblock %}
            </section>
            <section class="content-area">
                {% block content %}
                {% endblock %}
            </section>
        </div>
        <script type='text/javascript' src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type='text/javascript' src="{% static 'js/moment-with-locales.js' %}"></script>
        <script
          src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          crossorigin="anonymous"></script>
        <script src="{% static 'bootstrap-4.4.1/dist/js/bootstrap.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.1.0"></script>
        <script type='text/javascript' src="{% static 'js/menu.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{#        <script src="https://unpkg.com/vue-select@latest"></script>#}
        <link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">



        {% block javascript %}
        {% endblock %}
        {% block vue %}
        {% endblock %}

    <script>
         var addspinner = function (theform, btn) {
             var submit_btn;
             if (btn){
                 submit_btn = $("#" + btn)
             } else{
                 submit_btn = $("#" + theform.id + " :submit")
             }
             submit_btn.append(
                `<span class="spinner-grow spinner-grow-sm"  style="vertical-align: baseline; margin-bottom: -2px;"  role="status" aria-hidden="true"></span>`
             );
             submit_btn.prop("disabled", true)
         }
    </script>
    </body>
</html>