{% load static %}

<nav class="main-menu">
    <div class="menu-group">
        <a href="{% url 'app_dashboard:index' %}">   <img src="{% static 'img/finslogo_w.svg' %}" style="width:130px; margin: 30px 20px 80px 20px;" alt="Fins"></a>

        <a class="menu-item" id="menu_dashboard" href="{% url 'app_dashboard:index' %}">Dashboard</a>
        <a class="menu-item" id="menu_project" href="{% url 'app_project:index' %}">Проекты</a>
        <a class="menu-item" id="menu_transaction" href="{% url 'app_transaction:index' %}">Транзакции</a>
        <a class="menu-item" id="menu_docs" href="{% url 'app_docs:index' %}">Документы</a>
        <a class="menu-item" id="menu_reports" href="{% url 'app_reports:index' %}">Отчеты</a>
    </div>|
    <div class="menu-group" style="height: 280px;  border-top: 1px solid rgba( 255, 255, 255, 0.2); padding-top: 40px; padding-bottom: 20px;
">
        <a class="menu-item" id="menu_subcontractors" href="{% url 'app_setup:subcontractors' %}">Контрагенты</a>
        <a class="menu-item" id="menu_users" href="{% url 'app_setup:users' %}">Команда</a>
        <a class="menu-item" id="menu_setup" href="{% url 'app_setup:index' %}">Настройки</a>
        <a class="menu-item" id="menu_profile" href="{% url 'app_setup:profile' %}">Профиль</a>
        <a class="menu-item"  href="{% url 'app_auth:logout' %}">Выход</a>
    </div>

</nav>