{% load static %}

<div class="container">
    <nav class="navbar bg-transparent navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'app_about:index' %}"><img width='140' src="{% static 'img/finslogo.svg' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-4">
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'app_about:index' %}">Продукт</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'app_about:index' %}">Тарифы</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'app_about:index' %}">О команде</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="{% url 'app_auth:demo' %}"><b>Демо</b></a>
                </li>
            </ul>
            <ul class="navbar-nav mr-0">
                <li class="nav-item ">
                    <a class="nav-link pt-3 pb-3" href="{% url 'app_auth:login' %}">Войти</a>
                </li>
                <li class="nav-item ">

                    <a class="nav-link btn btn-outline-primary rounded-0 pr-4 pl-4 pt-3 pb-3" href="{% url 'app_signup:signup' %}">Регистрация</a>
                </li>

            </ul>
          </div>
    </nav>
</div>

