{% extends 'base_app.html' %}
{% load static %}

{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            Команда
        </h1>
    </div>
    <div>
        <button  type="submit" class="js-create-user btn btn-primary btn pr-3 pl-3 pt-2 pb-2 ml-5" data-url="{% url 'app_setup:user_create' %}">
            Добавить в команду
        </button>
    </div>

{% endblock %}


{% block content %}

<div class="block-section-3 mb-5" id="users_list">
    <div id="resend_message"></div>

    {% include 'app_setup/users/partial_users_list.html' %}

</div>

<div class="modal fade" id="modal-user">
    <div class="modal-dialog">
          <div class="modal-content">
         </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
    <script type='text/javascript' src="{% static 'js/users.js' %}"></script>
{% endblock %}


