{% load widget_tweaks %}




    <div class="modal-header">
            <h4 >
                {{wording.h1_history}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">

    {% for project in projects %}
        <p>{{project}}</p>
    {% endfor %}

    {% for period in periods %}
        <p>{{period}}</p>
    {% endfor %}

    {% for report in reports %}
        <p>{{report}}</p>
    {% endfor %}

    {% for service in services %}
        <p>{{service}}</p>
    {% endfor %}

    {% for service_in_report in services_in_report %}
        <p>{{service_in_report}}</p>
    {% endfor %}

    {% for team in teams %}
        <p>{{team}}</p>
    {% endfor %}


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg pl-5 pr-5" data-dismiss="modal">ОК</button>
    </div>


