
<!--{% if messages %}-->
<!--    <tr>-->
<!--        <td colspan="25"class="alert alert-info alert-dismissible fade show" role="alert" >-->
<!--            {% for message in messages %}-->
<!--                {{ message }}<br>-->
<!--            {% endfor %}-->
<!--            <button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--            </button>-->
<!--        </td>-->
<!--    </tr>-->


<!--{% endif %}-->

<!--<script>-->
<!--    window.setTimeout(function() {-->
<!--        $(".alert").fadeTo(500, 0).slideUp(500, function(){-->
<!--            $(this).remove();-->
<!--        });-->
<!--    }, 1000);-->
<!--</script>-->



{% for el in list %}

    <tr>
        <td class="normal align-middle py-2"><a href="{% url 'app_project:project' el.id %}">{{ el.name }}

                           <button type="button" class="btn btn-sm btn-link ml-3 ">
                                <i class="far fa-pencil"></i>
                            </button>
        </a></td>
        <td class="normal align-middle">{{ el.name_short|truncatechars:15 }}</td>
        <td class="normal align-middle">{{ el.category }}</td>
        <td class="normal align-middle">{{ el.subcategory | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.brand }}</td>
        <td class="normal align-middle">{{ el.get_work_format_display | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.get_agreement_format_display | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.get_stage_display }}</td>
        <td class="normal align-middle">{{ el.project_start|date:"d/m/Y"|default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.project_end|date:"d/m/Y"|default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.nb_source | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.nb_format | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.products_full | default:wording.empty_str}}</td>
        <td class="normal align-middle">{{ el.created_at|date:"d/m/Y" }}</td>
        <td class="normal align-middle">{{ el.created_by | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.modified_at|date:"d/m/Y" }}</td>
        <td class="normal align-middle">{{ el.modified_by | default_if_none:wording.none }}</td>
        <td class="normal align-middle">{{ el.leader }}</td>
        <td class="normal align-middle">{{ el.team }}</td>
        <td class="normal align-middle">{{ el.units }}</td>
        <td class="normal align-middle">{{ el.income }}</td>
        <td class="normal align-middle">{{ el.outcome_ext }}</td>
        <td class="normal align-middle">{{ el.gross_profit }}</td>
        <td class="normal align-middle">{{ el.gross_profitability }}</td>
        <td class="normal align-middle">{{ el.get_is_editable_display }}</td>


    </tr>

{% endfor %}

