{% extends 'app_project/list/projects_list.html' %}
{% load static %}
{% load widget_tweaks %}
{% load get_verbose_name %}

{% block table %}



<div class="block-section">

    <table  id="projects_list" class="table table-striped table-hover" >
        <thead>
            <tr >
                <th class="width-4 list">{% get_verbose_name obj 'name' %} <i id="code_2" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'name_short' %} <i id="code_3" class="help-modal far fa-question-circle question-icon"></i> </th>
                <th class="width-6 list">{% get_verbose_name obj 'category' %}<i id="code_4" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-6 list">{% get_verbose_name obj 'subcategory' %}<i id="code_5" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'brand' %}<i id="code_6" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-3 list">{% get_verbose_name obj 'work_format' %}<i id="code_7" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'agreement_format' %}<i id="code_8" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'stage' %}<i id="code_9" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-3 list">{% get_verbose_name obj 'project_start' %}<i id="code_10" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-3 list">{% get_verbose_name obj 'project_end' %}<i id="code_11" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'nb_source' %}<i id="code_12" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'nb_format' %}<i id="code_13" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'project_products' %}<i id="code_14" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-3 list">{% get_verbose_name obj 'created_at' %}<i id="code_15" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'created_by' %}<i id="code_16" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-3 list">{% get_verbose_name obj 'modified_at' %}<i id="code_17" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'modified_by' %}<i id="code_18" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">Лидер проекта<i id="code_19" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">Команда проекта<i id="code_20" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">Вовлеченные юниты<i id="code_21" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">Выручка (в основной валюте)<i id="code_22" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">Внешние расходы (в основной валюте)<i id="code_23" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">Валовая прибыль (в основной валюте)<i id="code_24" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">РВП (в основной валюте)<i id="code_25" class="help-modal far fa-question-circle question-icon"></i></th>
                <th class="width-5 list">{% get_verbose_name obj 'is_editable' %}<i id="code_26" class="help-modal far fa-question-circle question-icon"></i></th>
            </tr>
            <tr class="multifilters">
                <form action="" id="projects_filters" method="get" onsubmit="addspinner(this, 'filter_button')">
                    <td class="no margin-1">{% render_field filter.form.name class="ui-border ui-radius-both heigh-1" %} </td>
                    <td class="no margin-1">{% render_field filter.form.name_short class="ui-border ui-radius-both heigh-1" %}</td>
                    <td class="no margin-1">{% render_field filter.form.category class="multiselect" size="8" %} </td>
                    <td class="no margin-1">{% render_field filter.form.subcategory class="multiselect" size="8" %} </td>
                    <td class="no margin-1">{% render_field filter.form.brand class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.work_format class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.agreement_format class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.stage class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.project_start class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                    <td class="no margin-1">{% render_field filter.form.project_end class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                    <td class="no margin-1">{% render_field filter.form.nb_source class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.nb_format class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.project_products class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.created_at class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                    <td class="no margin-1">{% render_field filter.form.created_by class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.modified_at class="datepicker ui-border ui-radius-both heigh-1" type="date" %}</td>
                    <td class="no margin-1">{% render_field filter.form.modified_by class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.leader class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.team class="multiselect" size="8" %}</td>
                    <td class="no margin-1">{% render_field filter.form.units class="multiselect" size="8" %} </td>
                    <td class="no margin-1">{% render_field filter.form.income class="ui-border ui-radius-both heigh-1" %}</td>
                    <td class="no margin-1">{% render_field filter.form.outcome_ext class="ui-border ui-radius-both heigh-1" %}</td>
                    <td class="no margin-1">{% render_field filter.form.gross_profit class="ui-border ui-radius-both heigh-1" %}</td>
                    <td class="no margin-1">{% render_field filter.form.gross_profitability class="ui-border ui-radius-both heigh-1" %}</td>
                    <td class="no margin-1">{% render_field filter.form.is_editable class="multiselect" size="8" %} </td>
                </form>
            </tr>

        </thead>
        <tbody>

            {% include 'app_project/list/partial_list.html' %}
        </tbody>

    </table>


</div>


{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/projects.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/projects_list.js' %}"></script>


{% endblock %}


