{% load static %}
Выберите компанию для входа <br><br><br>
{% for account in account_list %}

    {% if account.is_active %}
        {% if account.userblocked %}
            Вам закрыт доступ в аккаунт {{account.name}}<br>
        {% else %}
            <a href="{{account.link}}">{{account.name}}</a>{{account.message}}<br>
        {% endif %}
    {% else %}
        {{account.name}}  заблокирован<br>
    {% endif %}

{% endfor %}