{% load widget_tweaks %}


<form method="post"  class="js-subcontractor-create-form" action="{% url 'app_setup:subcontractor_create' %}">
    {% csrf_token %}

    <div class="modal-header">
            <h4 >
                {{wording.h1_create}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">
        {% include 'app_setup/subcontractors/partial_form.html' %}
    </div>

    <div class="modal-footer mt-3">
        <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
        <button type="submit" class="btn btn-success btn-lg pl-5 pr-5">{{wording.btn_create}}</button>
    </div>



</form>



