
{% for el in list %}
<div class="row border border-1 mb-3 mr-1 py-3 px-3">
    <div class="col-9  d-flex  align-items-center">
        <span class="font-weight-bold">{{ el.legal_form }} {{ el.name }} </span>
        <span class="font-weight-light ml-5">
            {{ el.type }} —
            {{ el.taxe_type }}
         </span>
    </div>
    <div class="col-3 d-flex justify-content-end">
            {% if el.is_deletable  %}
                <button type="button"
                  class="js-delete-subcontractor btn btn-sm btn-outline-secondary border-0 "
                  data-url="{% url 'app_setup:subcontractor_delete' el.id %}"
                >
                         <i class="fas fa-trash mr-2"></i> {{wording.btn_delete}}
                </button>
            {% endif %}

            <button type="button"
                      class="js-update-subcontractor btn btn-sm btn-outline-primary ml-3"
              data-url="{% url 'app_setup:subcontractor_update' el.id %}"

            >
                <i class="far fa-pencil ml-2"></i> {{wording.btn_update}}
            </button>
    </div>
</div>

{% endfor %}

