{% extends 'app_setup/global/setup_list.html' %}
{% load static %}


{% block table %}
<div class="block-section-3  mb-5" id="subcontractors_list">

    {% include 'app_setup/subcontractors/partial_list.html' %}


</div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/subcontractors.js' %}"></script>
{% endblock %}


