{% load widget_tweaks %}

{% for el in list %}

    {% if el.status == 0 %}
        <tr class="topay">
    {% elif el.status == 1 %}
        <tr class="soon">
    {% elif el.status == 2 %}
        <tr class="debt">
    {% else %}
        <tr class="payed">
    {% endif%}
        <td hidden><input class='normal editable' value="{{el.is_editable}}"></td>
        <td hidden><input class='normal user_can_block' value="{{user_can_block}}"></td>
    <td class="normal  align-middle" ><span class="name">{{ el.name }}</span>
                    {% include 'app_transaction/list_buttons.html' %}

        </td>
        <td class="normal align-middle">{{ el.get_type_display }}</td>
        <td class="normal status_form ">{% render_field el.status_form class="form-control border-0 btn-sm mx-0 my-0" style="background-color:transparent;" %}</td>
        <td class="normal align-middle">{{ el.get_doc_request_display }}</td>
        <td class="normal align-middle">{{ el.subcontractor_full }}</td>
        <td class="normal align-middle">{{ el.subcontractor.type }}</td>
        <td class="normal align-middle">{{ el.purpose }}</td>
        <td class="normal align-middle">{{ el.date | default_if_none:wording.none|date:"d/m/Y"}}</td>
        <td class="normal date_fact_form ">{% render_field el.date_fact_form class="form-control border-0 btn-sm mx-0 my-0" style="background-color:transparent;" %}</td>

        <td class="normal align-middle">{{ el.date_doc | default_if_none:wording.none|date:"d/m/Y"}}</td>
        <td class="normal align-middle">{{ el.sum_before_taxes }}</td>
        <td class="normal align-middle">{{ el.sat }}</td>
        <td class="normal align-middle">{{ el.taxe }}</td>
        <td class="normal align-middle">{{ el.subcontractor.taxe_type }}</td>

        <td class="normal align-middle">{{ el.agreement_start_date|date:"d/m/Y" }}</td>
        <td class="normal align-middle">{{ el.agreement_end_date|date:"d/m/Y" }}</td>
        <td class="normal align-middle">{{ el.pay_delay }}</td>
        <td class="normal align-middle">{{ el.delayed }}</td>
        <td class="normal align-middle">{{ el.get_pay_model_display }}</td>
        <td class="normal align-middle">{{ el.act_date|default_if_none:wording.none|date:"d/m/Y"}}</td>
        <td class="normal align-middle">{{ el.comment | default:wording.empty_str|truncatechars:15}}</td>
        <td class="normal align-middle">{{ el.estimation_link | default:wording.empty_str|truncatechars:15 }}</td>
        <td class="normal align-middle"><a href="{% url 'app_project:project' el.project.id %}">{{ el.project }}</a></td>
        <td class="normal align-middle">{{ el.project.category }}</td>
        <td class="normal align-middle">{{ el.project.subcategory }}</td>
        <td class="normal align-middle">{{ el.project.brand }}</td>
        <td class="normal align-middle">{{ el.project.name_short|truncatechars:15 }}</td>
        <td class="normal align-middle">{{ el.project.get_stage_display }}</td>
        <td class="normal align-middle">{{ el.unit }}</td>
        <td class="normal align-middle">{{ el.account }}</td>

        <td class="normal align-middle">{{ el.created_at|date:"d/m/Y" }}</td>
        <td class="normal align-middle">{{ el.created_by | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.modified_at|date:"d/m/Y" }}</td>
        <td class="normal align-middle">{{ el.modified_by | default_if_none:wording.none}}</td>
        <td class="normal align-middle">{{ el.get_is_transfer_display }}</td>
        <td class="normal align-middle">{{ el.get_hidden_display }}</td>
        <td class="normal align-middle">{{ el.get_is_editable_display }}</td>







    </tr>

{% endfor %}

