{% load widget_tweaks %}




    <div class="modal-header">
            <h4 >
                {{wording.h1_history}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">

    {% for record in records %}
        <p>{{record}}</p>
    {% endfor %}


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success btn-lg pl-5 pr-5" data-dismiss="modal">ОК</button>
    </div>



