body, html {
    height: 100%;
}

body{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2{
  max-width: 350px;
  margin-top: 30px;
  margin-bottom: 10px;
}
p{
  max-width: 300px;
  margin-bottom: 40px;

}

.btn-group{
  width: 280px;
  margin-bottom: -1px;

}

.rounded-top{
  border-radius: 8px 8px 0 0 !important;
}

.rounded-left{
  border-radius: 0 0 0 8px !important;
}

.rounded-right{
  border-radius: 0 0 8px 0 !important;
}


.lang-container{
    display: flex;
    padding-left: 20px;
    margin-bottom:40px;
}

.btn-lang{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(47, 76, 152, 1);
    cursor: pointer;

}

.btn-lang.active{
    border: 1px solid rgba(47, 76, 152, 1);
}

a:hover{
    text-decoration: none;
}