body, html {
}

body{
    font-family: 'Proxima Nova Rg', sans-serif !important;
    font-weight:normal;
    font-style:normal;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    min-width: 290px;
}