
$theme-colors:(
  "primary": #2f4c98,
  "info": #4ead9b,
  "success": #3caf96,
) !default ;


$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1280px
) !default;

