{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="google" value="notranslate"/>
        <title>FinS | Financial CRM</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-4.4.1/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome-all.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style_signup.css' %}" />
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type=image/x-icon>
    </head>

    <body>
        <div class="container">
            <a href="{% url 'app_about:index' %}"><img width='140' class="mt-4" src="{% static 'img/finslogo.svg' %}"></a>

            <h2 style="margin-top: 70px; margin-bottom: 50px;">Присоединиться к FinS</h2>
            <div class="row " style="margin-bottom: 100px;">
                <div class="col-12 ">
                    {% if messages %}
                        <div class="alert alert-danger" role="alert">
                            {% for message in messages %}
                                <span>{{ message }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}

                        {{ user_form.non_field_errors }}

                        {% for hidden_field in user_form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                        {% endfor %}

                        {% for field in user_form.visible_fields %}
                        {{ field.label_tag}}
                        {% render_field field  class="form-control mb-3" %}
                        {{ field.errors}}
                        {% endfor %}


                        {{ account_form.non_field_errors }}

                        {% for hidden_field in account_form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                        {% endfor %}

                        {% for field in account_form.visible_fields %}
                        {{ field.label_tag }}
                        {% render_field field  class="form-control mb-3" %}
                        {{ field.errors }}
                        {% endfor %}

                        <button class="btn btn-lg mt-5 btn-primary btn-block" type="submit" id="signup">Зарегистрироваться</button>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>










