{% load widget_tweaks %}

<form method="post" action="{% url 'app_project:project_update' form.instance.pk %}"
      data-url-estimation="{% url 'app_project:project_update_estimation' form.instance.pk %}" class="js-project-update-form"
      data-sub-url="{% url 'app_project:ajax_load_subcat' %}" id="projectForm"
onsubmit="addspinner(this)"
>
    {% csrf_token %}


    <div class="modal-header">
            <h4 >
                {{wording.h1_update}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">
            <div class="row mt-2">
                <div class="col-4">
                    {{ form.name_short.label_tag }}
                    {{ form.name_short.errors }}
                    {{ form.name_short }}
                    {{ form.name_short.help_text }}
                </div>
                <div class="col-8">
                    {{ form.name_long.label_tag }}
                    {{ form.name_long.errors }}
                    {{ form.name_long }}
                    {{ form.name_long.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4">
                    {{ form.subcategory.label_tag }}
                    {{ form.subcategory.errors }}
                    {{ form.subcategory }}
                    {{ form.subcategory.help_text }}
                </div>
                <div class="col-4">
                    {{ form.brand.label_tag }}
                    {{ form.brand.errors }}
                    {{ form.brand }}
                    {{ form.brand.help_text }}
                </div>
                <div class="col-4">
                    {{ form.stage.label_tag }}
                    {{ form.stage.errors }}
                    {{ form.stage }}
                    {{ form.stage.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-3">
                    {{ form.project_start.label_tag }}
                    {{ form.project_start.errors }}
                    {{ form.project_start }}
                    {{ form.project_start.help_text }}
                </div>
                <div class="col-3">
                    {{ form.project_end.label_tag }}
                    {{ form.project_end.errors }}
                    {{ form.project_end }}
                    {{ form.project_end.help_text }}
                </div>
                <div class="col-3" style="display: flex; flex-direction: column; justify-content: space-between;">
                    {{ form.nb_source.label_tag }}
                    {{ form.nb_source.errors }}
                    {{ form.nb_source }}
                    {{ form.nb_source.help_text }}
                </div>
                <div class="col-3">
                    {{ form.nb_format.label_tag }}
                    {{ form.nb_format.errors }}
                    {{ form.nb_format }}
                    {{ form.nb_format.help_text }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                    {{ form.description.label_tag }}
                    {{ form.description.errors }}
                    {{ form.description }}
                    {{ form.description.help_text }}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-4  product-list ">
                    {{ form.project_products.label_tag }}
                    {% for checkbox in form.project_products %}
                        <div class="form-check">
                            {{ checkbox.tag }}

                             <label class="form-check-label">{{ checkbox.choice_label }}</label>
                        </div>
                    {% endfor %}

                </div>
                <div class="col-4">
                    {{ form.is_editable.label_tag }}
                    {{ form.is_editable.errors }}
                    {{ form.is_editable }}
                    {{ form.is_editable.help_text }}
                </div>
                <div class="col-4">
                    {{ form.commission.label_tag }}
                    {{ form.commission.errors }}
                    {{ form.commission }}
                    {{ form.commission.help_text }}
                </div>
            </div>
    </div>

    <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
            <button type="submit" class="btn btn-success btn-lg pl-5 pr-5" >{{wording.btn_save}}</button>
    </div>


</form>

