

{% for row in report %}

    <tr>
        <td>{{ row.currency }}</td>
        <td>{{ row.income }}</td>
        <td>{{ row.outcome_ext }}</td>
        <td>{{ row.gross_profit }}</td>
        <td>{{ row.gross_profitability }}%</td>



    </tr>

{% endfor %}

