{% load get_verbose_name %}



{% for period in periods %}
<div><hr></div>
<div class="mt-5 mb-5">
    <div class="row">
        <div class="col-12 d-flex flex-nowrap mb-4 justify-content-between">

            <div class="d-flex flex-nowra">
                <h2 class="mt-n1"><span>{{period}}</span></h2>
                {% if project.is_editable == True or user_can_block == 0 %}
                    <div class="ml-3">
                        <button type="button"
                        class="js-update-period  btn btn-sm btn-link px-0"
                        data-url="{% url 'app_project:update_period' period.id %}">
                        <i class="far fa-pencil"></i>
                        </button>

                        <button type="button"
                        class="js-delete-period   btn btn-sm btn-link px-0 ml-2"
                        data-url="{% url 'app_project:delete_period' period.id %}">
                        <i class="fas fa-trash"></i>
                        </button>
                    </div>
                {% endif %}
            </div>
            {% if project.is_editable == True or user_can_block == 0 %}

                <div>
                        <button type="submit" class="js-create-transaction  btn btn-sm btn-outline-secondary  ml-3" data-url="{% url 'app_transaction:transaction_create_project_period' project.pk period.pk%}">
                            <i class="fal fa-plus"></i> {{wording.btn_add}}
                        </button>

                        <button type="submit" class="js-create-report  btn btn-sm btn-outline-secondary  ml-1" data-url="{% url 'app_project:report_create' project.pk period.pk%}">
                            <i class="fal fa-plus"></i> {{wording.btn_add4}}
                        </button>
                </div>
            {% endif %}

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table id="transactions_list" class="table table2">
                <thead>
                    {% include 'app_transaction/in_project/partial_list_header.html' %}
                </thead>
                <tbody>
                    {% include 'app_transaction/in_project/partial_list_in_projects_period.html' %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mb-3 mt-4">
        <div class="col-12" style="white-space: nowrap;">
            {% if period.reports%}
                <h3><div class="badge badge-info">Отчеты:</div></h3>
                {% for report in period.reports %}

                    <span class="ml-4">

                        {{report}}

                        <button type="button"
                         class="js-update-report  btn btn-sm btn-link px-0"
                            data-url="{% url 'app_project:report_update' report.id project.pk%}">
                            <i class="far fa-pencil"></i>
                        </button>

                        <button type="button"
                         class="js-delete-report   btn btn-sm btn-link px-0 ml-2"
                         data-url="{% url 'app_project:report_delete' report.id %}">
                         <i class="fas fa-trash"></i>
                        </button>
                    </span>
                {% endfor %}
            {% endif %}

        </div>
    </div>
</div>

{% endfor %}



