


{% for service in services %}
<tr>
   <td>{{service}}</td>
   <td>{{service.rate_bt}}</td>
    <td  style="width: 100px; white-space: nowrap">

        {% if project.is_editable == True or user_can_block == 0 %}

               <button type="button" class=" js-update-service btn btn-sm btn-link ml-3 " data-url="{% url 'app_project:service_update' service.pk %}">
                    <i class="far fa-pencil"></i>
                </button>
                    <button type="button"
                  class="js-delete-service btn btn-sm btn-link px-0"
                  data-url="{% url 'app_project:service_delete' service.pk %}"

                >
                    <i class="fas fa-trash"></i>
                </button>


        {% endif %}
    </td>

</tr>

{% endfor %}



