

{% for user in team %}
<tr>

    <td>{{ user.user }}</td>
    <td>{{ user.get_role_display }}</td>
    <td style="width: 100px; white-space: nowrap;">
        {% if project.is_editable == True or user_can_block == 0 %}

           <button type="button" class=" js-update-team btn btn-sm btn-link ml-3 " data-url="{% url 'app_project:team_update' user.id %}">
                <i class="far fa-pencil"></i>
            </button>
                <button type="button"
              class="js-delete-team btn btn-sm btn-link px-0"
              data-url="{% url 'app_project:team_delete' user.id %}"

            >
                <i class="fas fa-trash"></i>
            </button>
        {% endif %}
    </td>


</tr>
{% endfor %}

