<div>
            <span class="normal">
                <button type="button"
                  class="js-update-agreement btn btn-sm btn-link ml-3 "
                  data-url="{% url 'app_docs:agreement_update' el.id %}"
                style="min-height: 25px;"
                >
                    <i class="far fa-pencil"></i>
                </button>
            </span>
            <span class="normal">
                <button type="button"
                  class="js-delete-agreement btn btn-sm btn-link px-0  "
                  data-url="{% url 'app_docs:agreement_delete' el.id %}"
                style="min-height: 25px;"
                >
                    <i class="fas fa-trash"></i>
                </button>
            </span>
            {% if el.doc_template %}
                <span class="normal">
                    {% csrf_token %}
                    <button type="submit"  class="js-gen-agreement btn btn-sm btn-link px-1 "
                            value='{{wording.btn_gen}}' name="word"
                            data-url="{% url 'app_docs:doc_generate' el.id 0 %}"
                    style="min-height: 25px;"
                    >
                     <i class="fal fa-download"></i>
                    </button>
                </span>
            {% else %}
                <span class="normal"></span>
            {% endif %}
</div>