
{% for el in list %}
    {% if el.idx != 0 %}
        <tr>
            <td class="normal align-middle">{{ el.get_type_display| default_if_none:wording.none }}</td>
            <td class="normal align-middle">___{{ el.name }}</td>
            <td class="normal align-middle"></td>
            <td class="normal align-middle">{{ el.signed_at| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.get_status_display| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.status_date| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.subcontractor| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.get_subcontractor_role_display| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.mycompany| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.validity_period_from| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.validity_period_till| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.get_prolongation_type_display }}</td>
            <td class="normal align-middle">{{ el.prolongation_alert| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.description|truncatechars:15| default:wording.empty_str }}</td>
            <td class="normal align-middle">{{ el.project| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.transaction| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.report| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.doc_template| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.parent_full| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.has_attachment| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.has_scan| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.has_src| default_if_none:wording.none }}</td>

            <td>
                <button type="button"
                  class="js-update-agreement"
                  data-url="{% url 'app_docs:agreement_update' el.id %}">
                    {{wording.btn_update}}
                </button>
            </td>
            <td>
                <button type="button"
                  class="js-delete-agreement"
                  data-url="{% url 'app_docs:agreement_delete' el.id %}">
                    {{wording.btn_delete}}
                </button>
            </td>
            {% if el.doc_template %}
                <td>
                    {% csrf_token %}
                    <input type="submit"  class="js-gen-agreement" value='{{wording.btn_gen}}' name="word" data-url="{% url 'app_docs:doc_generate' el.id 0 %}">
                </td>
            {% else %}
                <td></td>
            {% endif %}



        </tr>
        {% for item in el.ad %}
            <tr>
                <td>{{ item.get_type_display }}</td>
                <td>{{ item.name }}</td>
                <td>...</td>
                <td>{{ item.signed_at| default_if_none:wording.none }}</td>
                <td>{{ item.get_status_display| default_if_none:wording.none }}</td>
                <td>{{ item.status_date| default_if_none:wording.none }}</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>{{ item.covered_period_from | default_if_none:wording.none}}</td>
                <td>{{ item.covered_period_till| default_if_none:wording.none }}</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>{{ item.project| default_if_none:wording.none }}</td>
                <td>{{ item.transaction| default_if_none:wording.none }}</td>
                <td>{{ item.report| default_if_none:wording.none }}</td>
                <td>{{ item.doc_template| default_if_none:wording.none }}</td>
                <td>{{ item.agreement| default_if_none:wording.none }}</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>
                    <button type="button"
                      class="js-update-ad"
                      data-url="{% url 'app_docs:accounting_docs_update' item.id %}">
                        {{wording.btn_update}}
                    </button>
                </td>
                <td>
                    <button type="button"
                      class="js-delete-ad"
                      data-url="{% url 'app_docs:accounting_docs_delete' item.id %}">
                        {{wording.btn_delete}}
                    </button>
                </td>
            </tr>
        {% endfor %}



    {% else %}

        <tr>
            <td>{{ el.get_type_display| default_if_none:wording.none }}</td>
            <td>{{ el.name }}</td>
            <td></td>
            <td>{{ el.signed_at| default_if_none:wording.none }}</td>
            <td>{{ el.get_status_display| default_if_none:wording.none }}</td>
            <td>{{ el.status_date| default_if_none:wording.none }}</td>
            <td>{{ el.subcontractor| default_if_none:wording.none }}</td>
            <td>{{ el.get_subcontractor_role_display| default_if_none:wording.none }}</td>
            <td>{{ el.mycompany| default_if_none:wording.none }}</td>
            <td>{{ el.validity_period_from| default_if_none:wording.none }}</td>
            <td>{{ el.validity_period_till| default_if_none:wording.none }}</td>
            <td>{{ el.get_prolongation_type_display }}</td>
            <td>{{ el.prolongation_alert| default_if_none:wording.none }}</td>
            <td>{{ el.description|truncatechars:15| default:wording.empty_str }}</td>
            <td>{{ el.project| default_if_none:wording.none }}</td>
            <td>{{ el.transaction| default_if_none:wording.none }}</td>
            <td>{{ el.report| default_if_none:wording.none }}</td>
            <td>{{ el.doc_template| default_if_none:wording.none }}</td>
            <td>{{ el.parent_full| default_if_none:wording.none }}</td>
            <td>{{ el.has_attachment| default_if_none:wording.none }}</td>
            <td>{{ el.has_scan| default_if_none:wording.none }}</td>
            <td>{{ el.has_src| default_if_none:wording.none }}</td>

            <td>
                <button type="button"
                  class="js-update-agreement"
                  data-url="{% url 'app_docs:agreement_update' el.id %}">
                    {{wording.btn_update}}
                </button>
            </td>
            <td>
                <button type="button"
                  class="js-delete-agreement"
                  data-url="{% url 'app_docs:agreement_delete' el.id %}">
                    {{wording.btn_delete}}
                </button>
            </td>
            {% if el.doc_template %}
                <td>
                    {% csrf_token %}
                    <input type="submit"  class="js-gen-agreement" value='{{wording.btn_gen}}' name="word" data-url="{% url 'app_docs:doc_generate' el.id 0 %}">
                </td>
            {% else %}
                <td></td>
            {% endif %}
        </tr>
        {% for item in el.ad %}
            <tr>
                <td>{{ item.get_type_display }}</td>
                <td>{{ item.name }}</td>
                <td>...</td>
                <td>{{ item.signed_at| default_if_none:wording.none }}</td>
                <td>{{ item.get_status_display| default_if_none:wording.none }}</td>
                <td>{{ item.status_date| default_if_none:wording.none }}</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>{{ item.covered_period_from | default_if_none:wording.none}}</td>
                <td>{{ item.covered_period_till| default_if_none:wording.none }}</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>{{ item.project| default_if_none:wording.none }}</td>
                <td>{{ item.transaction| default_if_none:wording.none }}</td>
                <td>{{ item.report| default_if_none:wording.none }}</td>
                <td>{{ item.doc_template| default_if_none:wording.none }}</td>
                <td>{{ item.agreement| default_if_none:wording.none }}</td>
                <td>...</td>
                <td>...</td>
                <td>...</td>
                <td>
                    <button type="button"
                      class="js-update-ad"
                      data-url="{% url 'app_docs:accounting_docs_update' item.id %}">
                        {{wording.btn_update}}
                    </button>
                </td>
                <td>
                    <button type="button"
                      class="js-delete-ad"
                      data-url="{% url 'app_docs:accounting_docs_delete' item.id %}">
                        {{wording.btn_delete}}
                    </button>
                </td>
            </tr>
        {% endfor %}

    {% endif %}
{% endfor %}

