
{% for el in list %}
        <tr>
            <td class="normal align-middle">{{ el.get_type_display| default_if_none:wording.none }}</td>
            {% if el.idx != 0 %}
                <td class="normal align-middle">
                    <div class="d-flex flex-nowrap justify-content-between pr-2 align-items-center">
                        ___{{ el.name }}
                        {% include 'app_docs/global/list_buttons.html' %}
                    </div>
                </td>
            {% else %}
                <td class="normal align-middle">
                      <div class="d-flex flex-nowrap justify-content-between pr-2 align-items-center">
                        {{ el.name }}
                        {% include 'app_docs/global/list_buttons.html' %}
                    </div>
                </td>
            {% endif %}
            <td class="normal align-middle"></td>
            <td class="normal align-middle">{{ el.signed_at| default_if_none:wording.none|date:"d/m/Y" }}</td>
            <td class="normal align-middle">{{ el.get_status_display| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.status_date| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.subcontractor| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.get_subcontractor_role_display| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.mycompany| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.validity_period_from| default_if_none:wording.none|date:"d/m/Y" }}</td>
            <td class="normal align-middle">{{ el.validity_period_till| default_if_none:wording.none|date:"d/m/Y" }}</td>
            <td class="normal align-middle">{{ el.get_prolongation_type_display }}</td>
            <td class="normal align-middle">{{ el.prolongation_alert| default_if_none:wording.none|date:"d/m/Y" }}</td>
            <td class="normal align-middle">{{ el.description|truncatechars:15| default:wording.empty_str }}</td>
            <td class="normal align-middle">{{ el.project| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.transaction| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.report| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.doc_template| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.parent_full| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.has_attachment| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.has_scan| default_if_none:wording.none }}</td>
            <td class="normal align-middle">{{ el.has_src| default_if_none:wording.none }}</td>





        </tr>

        {% for item in el.ad %}
            <tr>
                <td class="normal align-middle">{{ item.get_type_display }}</td>
                <td class="normal align-middle">
                    <div class="d-flex flex-nowrap justify-content-between pr-2 align-items-center">
                        {{ item.name }}
                        {% include 'app_docs/global/list_buttons_2.html' %}
                    </div>
                </td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">{{ item.signed_at| default_if_none:wording.none|date:"d/m/Y" }}</td>
                <td class="normal align-middle">{{ item.get_status_display| default_if_none:wording.none }}</td>
                <td class="normal align-middle">{{ item.status_date| default_if_none:wording.none|date:"d/m/Y" }}</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">{{ item.covered_period_from | default_if_none:wording.none|date:"d/m/Y"}}</td>
                <td class="normal align-middle">{{ item.covered_period_till| default_if_none:wording.none|date:"d/m/Y" }}</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">{{ item.project| default_if_none:wording.none }}</td>
                <td class="normal align-middle">{{ item.transaction| default_if_none:wording.none }}</td>
                <td class="normal align-middle">{{ item.report| default_if_none:wording.none }}</td>
                <td class="normal align-middle">{{ item.doc_template| default_if_none:wording.none }}</td>
                <td class="normal align-middle">{{ item.agreement| default_if_none:wording.none }}</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">———</td>
                <td class="normal align-middle">———</td>
            </tr>
        {% endfor %}


{% endfor %}

