{% load widget_tweaks %}

<div class="modal fade" id="modal-history">
    <div class="modal-dialog">
        <div class="modal-content">
            <form
                method="post"
                v-on:submit.prevent="saveInstance"
            >
                {% csrf_token %}

                <div class="modal-header">
                    <h4 >
                        [[wording.h1_history]]
                    </h4>
                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
                    </button>
                </div>

                <div class="modal-body">
                    <div
                        class="text-secondary"
                        v-for="record in history"
                        v-bind:key="record.id"
                        v-html="record"
                    >
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>






