{% load widget_tweaks %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}


    <div class="row mt-3">
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form_company.non_field_errors }}

            <div class="col-6">
                    {{ form_company.companies.label_tag }}
                    {{ form_company.companies.errors }}
                    {{ form_company.companies }}
                    {{ form_company.companies.help_text }}
            </div>
            <div class="col-3">
                    {{ form_company.hidden.label_tag }}
                    {{ form_company.hidden.errors }}
                    {{ form_company.hidden }}
                    {{ form_company.hidden.help_text }}
            </div>
            <div class="col-3">
                    {{ form_company.is_editable.label_tag }}
                    {{ form_company.is_editable.errors }}
                    {{ form_company.is_editable }}
                    {{ form_company.is_editable.help_text }}
            </div>
        </form>
    </div>

    <div class="row mt-5 mb-3">
            <div class="col-6">
                   <h5>ОТПРАВИТЕЛЬ   <i class="fal fa-long-arrow-right"></i></h5>
            </div>
            <div class="col-6">
                <h5><i class="fal fa-long-arrow-right"></i>   ПОЛУЧАТЕЛЬ</h5>
            </div>
    </div>

    <div class="row">
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="col-6">
                    {{ form.as_p }}
            </div>
        {% endfor %}
    </div>

