//compress: true, strictMath: true



@main-color: rgba(40, 127, 228, 1);

body, wrapper {
   min-height:100vh;
}

body {
    font-family: "Montserrat", arial;
    background-color: white;
}

.footer{
    background-color: #f6fafb;
    padding: 30px 0;
    white-space: nowrap;
}


.footer-menu-item {
    font-size: 14px;

}

.container{
    padding: 0 0 !important;
}


.navbar-collapse{
    justify-content: space-between;
}

.navbar-nav{
    margin-right: 0 !important;
}

.navbar{
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
}

.nav-item{
    margin-left: 40px;
    font-size: 17px;
}




.text-block{
    display: flex;
    flex-direction: column;
}

.first-screen{
    height: 85vh;
}

.mainopage-img{
    width: 60%;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: -1;
}

h2 {
    margin-top:100px !important;
}

.errorlist{
    font-size: 14px ;
    color: #d1607c;
    list-style-type: none;
}
