{% load widget_tweaks %}



<form method="post" enctype="multipart/form-data"
      action="{{url_update}}"
      data-purposes-url="{% url 'app_transaction:ajax_load_purpose' %}"
      data-subcontractor-url="{% url 'app_transaction:ajax_subcontractor_info' %}"
      data-account-url="{% url 'app_transaction:ajax_account_info' %}"
      class="{{class_update}}"
      onsubmit="addspinner(this)"
      id="transactionForm">

{% csrf_token %}


<div class="modal-header">
        <h4 >
            {{wording.h1_update}}
        </h4>
        <button type="button" class="close " data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
        </button>
</div>

<div class="modal-body">
   {% include 'app_transaction/transaction/partial_form.html' %}
</div>


<div class="modal-footer">
        <button type="button" class="btn btn-outline-danger btn-lg pl-5 pr-5" data-dismiss="modal">{{wording.btn_cancel}}</button>
        <button type="submit" class="btn btn-success btn-lg pl-5 pr-5">{{wording.btn_save}}</button>
</div>


</form>


