{% load widget_tweaks %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}


<div style=" display: flex; flex-direction: column;">

    <div style="width:800px;">
        {%if form.project %}
            <div class="ui-positioner">
                <label class="label1" for="{{ form.project.id_for_label }}">
                    {{form.project.label}} <i class="far fa-question-circle question-icon"></i>
                </label>
                {% render_field form.project class="ui-border ui-radius-left heigh-1 width-8" %}
                    {% if form.project.errors %}
                        {% for error in form.project.errors %}
                            {{ error|escape }}
                        {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        <div class="ui-positioner">
            <label class="label1" for="{{ form.account.id_for_label }}">
                {{form.account.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.account class="ui-border ui-radius-no heigh-1 width-8" %}
                {% if form.account.errors %}
                    {% for error in form.account.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.currency.id_for_label }}">
                {{form.currency.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.currency class="ui-border ui-radius-no heigh-1 width-3" %}
                {% if form.currency.errors %}
                    {% for error in form.currency.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>
        <div class="ui-positioner">
            <label class="label1" for="{{ form.mycompanytaxe.id_for_label }}">
                {{form.mycompanytaxe.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.mycompanytaxe class="ui-border ui-radius-right heigh-1 width-3-2" %}
                {% if form.mycompanytaxe.errors %}
                    {% for error in form.mycompanytaxe.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>


    </div>

    <div style="width:800px;">
        <div class="ui-positioner">
            <label class="label1" for="{{ form.type.id_for_label }}">
                {{form.type.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.type class="ui-border ui-radius-left heigh-1 width-8" %}
                {% if form.type.errors %}
                    {% for error in form.type.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.type.id_for_label }}">
                {{form.purpose.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.purpose class="ui-border ui-radius-right heigh-1 width-8" %}
                {% if form.purpose.errors %}
                    {% for error in form.purpose.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>


        <div class="ui-positioner">
            <label class="label1" for="{{ form.unit.id_for_label }}">
                {{form.unit.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.unit class="ui-border ui-radius-right heigh-1 width-6-1" %}
                {% if form.unit.errors %}
                    {% for error in form.unit.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

    </div>

    <div style="width:800px;">
        <div class="ui-positioner">
            <label class="label1" for="{{ form.subcontractor.id_for_label }}">
                {{form.subcontractor.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.subcontractor class="ui-border ui-radius-left heigh-1 width-8" %}
                {% if form.subcontractor.errors %}
                    {% for error in form.subcontractor.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.sub_taxetype.id_for_label }}">
                {{form.sub_taxetype.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.sub_taxetype class="ui-border ui-radius-no heigh-1 width-8" %}
                {% if form.sub_taxetype.errors %}
                    {% for error in form.sub_taxetype.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.sub_legalform.id_for_label }}">
                {{form.sub_legalform.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.sub_legalform class="ui-border ui-radius-right heigh-1 width-6-1" %}
                {% if form.sub_legalform.errors %}
                    {% for error in form.sub_legalform.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>
    </div>


    <div style="width:800px;">
        <div class="ui-positioner">
            <label class="label1" for="{{ form.sum_before_taxes.id_for_label }}">
                {{form.sum_before_taxes.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.sum_before_taxes class="ui-border ui-radius-left heigh-1 width-8" %}
                {% if form.sum_before_taxes.errors %}
                    {% for error in form.sum_before_taxes.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.sum_after_taxes.id_for_label }}">
                {{form.sum_after_taxes.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.sum_after_taxes class="ui-border ui-radius-no heigh-1 width-8" %}
                {% if form.sum_after_taxes.errors %}
                    {% for error in form.sum_after_taxes.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.sum_taxes.id_for_label }}">
                {{form.sum_taxes.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.sum_taxes class="ui-border ui-radius-right heigh-1 width-6-1" %}
                {% if form.sum_taxes.errors %}
                    {% for error in form.sum_taxes.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>
    </div>


    <div style="width:800px;">
        <div class="ui-positioner">
            <label class="label1" for="{{ form.agreement_start_date.id_for_label }}" style="width:130px;">
                {{form.agreement_start_date.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.agreement_start_date class="ui-border ui-radius-left heigh-1 width-5" %}
                {% if form.agreement_start_date.errors %}
                    {% for error in form.agreement_start_date.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.agreement_end_date.id_for_label }}" style="width:130px;">
                {{form.agreement_end_date.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.agreement_end_date class="ui-border ui-radius-no heigh-1 width-5" %}
                {% if form.agreement_end_date.errors %}
                    {% for error in form.agreement_end_date.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.pay_model.id_for_label }}" style="width:70px;">
                {{form.pay_model.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.pay_model class="ui-border ui-radius-no heigh-1 width-3" %}
                {% if form.pay_model.errors %}
                    {% for error in form.pay_model.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.pay_delay.id_for_label }}" style="width:100px;">
                {{form.pay_delay.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.pay_delay class="ui-border ui-radius-no heigh-1 width-3" %}
                {% if form.pay_delay.errors %}
                    {% for error in form.pay_delay.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.date_doc.id_for_label }}" style="width:100px;">
                {{form.date_doc.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.date_doc class="ui-border ui-radius-no heigh-1 width-5" %}
                {% if form.date_doc.errors %}
                    {% for error in form.date_doc.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>
        <div class="ui-positioner">
            <label class="label1" for="{{ form.date_fact.id_for_label }}" style="width:100px;">
                {{form.date_fact.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.date_fact class="ui-border ui-radius-right heigh-1 width-5" %}
                {% if form.date_fact.errors %}
                    {% for error in form.date_fact.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>
    </div>

    <div style="width:800px;">
        <div class="ui-positioner">
            <label class="label1" for="{{ form.description.id_for_label }}">
                {{form.description.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.description class="ui-border ui-radius-left heigh-1 width-8" %}
                {% if form.description.errors %}
                    {% for error in form.description.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.comment.id_for_label }}">
                {{form.comment.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.comment class="ui-border ui-radius-no heigh-1 width-8" %}
                {% if form.comment.errors %}
                    {% for error in form.comment.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.estimation_link.id_for_label }}">
                {{form.estimation_link.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.estimation_link class="ui-border ui-radius-right heigh-1 width-6-1" %}
                {% if form.estimation_link.errors %}
                    {% for error in form.estimation_link.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

    </div>

    <div style="width:800px;">
        <div class="ui-positioner">
            <label class="label1" for="{{ form.act_date.id_for_label }}" style="width:50px;">
                {{form.act_date.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.act_date class="ui-border ui-radius-left heigh-1 width-5" %}
                {% if form.act_date.errors %}
                    {% for error in form.act_date.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.status.id_for_label }}" style="width:100px;">
                {{form.status.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.status class="ui-border ui-radius-no heigh-1 width-5" %}
                {% if form.status.errors %}
                    {% for error in form.status.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.doc_request.id_for_label }}" style="width:100px;">
                {{form.doc_request.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.doc_request class="ui-border ui-radius-no heigh-1 width-5" %}
                {% if form.doc_request.errors %}
                    {% for error in form.doc_request.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.hidden.id_for_label }}" style="width:100px;">
                {{form.hidden.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.hidden class="ui-border ui-radius-no heigh-1 width-4" %}
                {% if form.doc_request.errors %}
                    {% for error in form.hidden.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.is_editable.id_for_label }}" style="width:120px;">
                {{form.is_editable.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.is_editable class="ui-border ui-radius-no heigh-1 width-4" %}
                {% if form.is_editable.errors %}
                    {% for error in form.is_editable.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

        <div class="ui-positioner">
            <label class="label1" for="{{ form.parent.id_for_label }}" style="width:110px;">
                {{form.parent.label}} <i class="far fa-question-circle question-icon"></i>
            </label>
            {% render_field form.parent class="ui-border ui-radius-right heigh-1" style="min-width:105px; width:105px;" %}
                {% if form.parent.errors %}
                    {% for error in form.parent.errors %}
                        {{ error|escape }}
                    {% endfor %}
            {% endif %}
        </div>

    </div>


</div>