body {
  font-family: "Roboto", arial;
  background-color: white;
}
.background-p {
  background-color: #fafafa;
}
a {
  color: #2f4c98;
  text-decoration: none;
}
a:hover {
  color: #273e7d;
  text-decoration: none;
}
h3 {
  font-size: 18px;
  display: inline;
  color: #343b4c;
  font-weight: 600;
}
h1 {
  color: #343b4c;
  font-size: 26px;
  padding-top: 7px;
  float: left;
  font-weight: 300;
}
h4 {
  padding-top: 10px;
  color: #343b4c;
  font-size: 24px;
  line-height: 18px;
}
.title {
  margin-left: 80px;
  margin-right: 20px;
}
/*
=============Лоадер ==================
*/
.loaderArea {
  background: #2f4c98;
  overflow: hidden;
  position: fixed;
  left: 200px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
}
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/*
=============UI: Selects, inputs, checkboxes ==================
*/
.ui-hover {
  box-shadow: 0 0 1px 1px rgba(74, 74, 74, 0.1);
  z-index: 1000;
}
.ui-focus {
  box-shadow: 0 0 1px 1px rgba(40, 127, 228, 0.3);
  z-index: 100;
}
.ui-border {
  border: 1px solid #D5DAE0;
}
.ui-radius-both {
  border-radius: 4px  !important;
}
.ui-radius-no {
  border-radius: 0px  !important;
}
.ui-radius-left {
  border-radius: 4px 0 0 4px  !important;
}
.ui-radius-right {
  border-radius: 0 4px 4px 0  !important;
}
.heigh-1 {
  height: 40px;
}
.heigh-2 {
  height: 20px;
}
.heigh-3 {
  height: 32px;
}
.heigh-4 {
  height: 100px;
}
.width-1 {
  min-width: 60px;
  width: 60px !important;
}
.width-2 {
  min-width: 75px;
  width: 75px !important;
}
.width-3 {
  min-width: 100px;
  width: 100px !important;
}
.width-3-1 {
  min-width: 115px;
  width: 115px;
}
.width-3-2 {
  min-width: 96px;
  width: 96px  !important;
}
.width-4 {
  min-width: 120px;
  width: 120px;
}
.width-5 {
  min-width: 150px;
  width: 150px;
}
.width-6 {
  min-width: 180px;
  width: 180px;
}
.width-6-1 {
  min-width: 195px;
  width: 195px;
}
.width-7 {
  min-width: 210px;
  width: 210px;
}
.width-7-1 {
  min-width: 245px;
  width: 245px;
}
.width-7-2 {
  min-width: 240px;
  width: 240px;
}
.width-8 {
  min-width: 300px;
  width: 300px;
}
.width-8-1 {
  min-width: 360px;
  width: 360px;
}
.width-9 {
  min-width: 420px;
  width: 420px;
}
.width-10 {
  min-width: 730px;
  width: 730px;
}
.blocked {
  color: #a2a3a4 !important;
}
select {
  padding: 5px 10px 5px 5px;
  padding-left: 10px;
  padding-right: 25px;
  font-size: 12px;
  color: #4a4a4a;
  width: 100%;
  height: 40px;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/select_arrow.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 97%;
  background-color: transparent;
  transition-duration: 200ms;
}
select:focus {
  box-shadow: 0 0 1px 1px rgba(40, 127, 228, 0.3);
  z-index: 100;
}
select:hover {
  box-shadow: 0 0 1px 1px rgba(74, 74, 74, 0.1);
  z-index: 1000;
}
input[type="text"] {
  padding-left: 10px;
  height: 40px;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  font-size: 12px;
  color: #4a4a4a;
  width: 100%;
  position: relative;
  outline: none;
  background-color: white;
  transition-duration: 200ms;
}
input[type="number"] {
  padding-left: 10px;
  height: 40px;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  font-size: 12px;
  color: #4a4a4a;
  width: 100%;
  position: relative;
  outline: none;
  background-color: white;
  transition-duration: 200ms;
}
input[type="email"] {
  padding-left: 10px;
  height: 40px;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  font-size: 12px;
  color: #4a4a4a;
  width: 100%;
  position: relative;
  outline: none;
  background-color: white;
  transition-duration: 200ms;
}
input[type="date"] {
  height: 40px;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  width: 100%;
  padding-left: 32px;
  padding-right: 10px;
  font-size: 12px;
  color: #4a4a4a;
  position: relative;
  outline: none;
  background: url(../img/calendar.svg) no-repeat;
  background-size: 15px;
  background-position: 10px 50%;
  background-color: transparent;
  transition-duration: 200ms;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 15px;
  opacity: 0;
}
input:focus {
  box-shadow: 0 0 1px 1px rgba(40, 127, 228, 0.3);
  z-index: 100;
}
input:hover {
  box-shadow: 0 0 1px 1px rgba(74, 74, 74, 0.1);
  z-index: 1000;
}
input:read-only {
  color: #969696;
}
input:disabled {
  color: #a2a3a4;
  background-color: #f2f4f6;
}
input:disabled:hover {
  box-shadow: 0 0 0px 0px rgba(74, 74, 74, 0.1);
}
label {
  color: #607186;
}
textarea {
  padding: 10px;
  font-size: 12px;
  color: #4a4a4a;
  width: 100%;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
  position: relative;
  outline: none;
  background-color: white;
  transition-duration: 200ms;
}
textarea:focus {
  box-shadow: 0 0 1px 1px rgba(40, 127, 228, 0.3);
  z-index: 100;
}
textarea:hover {
  box-shadow: 0 0 1px 1px rgba(74, 74, 74, 0.1);
  z-index: 1000;
}
.stagebar {
  display: flex;
}
.stagebar label {
  border-radius: 4px;
  width: 100px;
  height: 40px;
  margin: 0px 3px;
}
.stagebar label:hover {
  box-shadow: 0 0 1px 1px rgba(74, 74, 74, 0.1);
  z-index: 1000;
}
.stagebar input[type=radio] {
  position: absolute;
  width: 100px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
}
.stager-label {
  position: absolute;
  z-index: 2;
  color: #2f4c98;
  font-size: 14px;
  text-align: center;
  height: 40px;
  width: 100px;
  padding-top: 10px;
}
.container2 {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0px;
}
.checkmark2 {
  border-radius: 4px;
  border: 1px solid #D5DAE0;
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 100px;
}
.container2 input:checked ~ .checkmark2 {
  background-color: #2f4c98;
}
.container2 input:checked ~ .stager-label {
  color: white;
}
.container2 input:disabled ~ .checkmark2 {
  background-color: rgba(180, 180, 180, 0.1);
}
.container2 input:disabled ~ .stager-label {
  color: #a6b1be;
}
.multiselect {
  border: 1px solid #D5DAE0;
  width: 100%;
  margin-top: -1px;
  margin: -1px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  color: #4a4a4a;
  outline: none;
  height: 100%;
  background-color: white;
}
.multiselect:focus {
  box-shadow: 0 0 1px 1px rgba(40, 127, 228, 0.3);
  z-index: 100;
  transition-duration: 200ms;
}
.multiselect:hover {
  box-shadow: 0 0 1px 1px rgba(74, 74, 74, 0.1);
  z-index: 1000;
  transition-duration: 200ms;
}
.multifilters select {
  background-image: none;
}
.ui-positioner {
  margin-bottom: 13px;
  margin-right: -1px;
  float: left;
}
.ui-positioner-2 {
  margin-right: -1px;
  float: left;
}
.ui-positioner-3 {
  display: block;
  margin-right: -1px;
  margin-bottom: 10px;
}
.ui-positioner-100 {
  width: 100%;
  margin-bottom: 13px;
  margin-right: -1px;
}
.ui-margin-left {
  margin-left: 10px;
}
/*
=============CONTENT ==================
*/
.content-area {
  position: relative;
  display: block;
  padding-top: 85px;
  background-color: transparent;
  width: 100%;
  height: 100%;
}
.podlogka {
  position: absolute;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #D5DAE0;
  height: 340px;
}
.block-section {
  position: relative;
  overflow-y: scroll;
  background-color: transparent;
  padding-top: 30px;
  padding-left: 280px;
  margin-right: 30px;
  display: flex;
}
.block-section-3 {
  position: relative;
  overflow-y: scroll;
  background-color: transparent;
  padding-top: 30px;
  padding-left: 280px;
  margin-right: 30px;
  min-width: 1350px;
}
.block-section2 {
  position: relative;
  padding-top: 30px;
  padding-left: 90px;
  padding-right: 20px;
  background-color: #fafafa;
}
.innerblock {
  display: inline-block;
  position: relative;
  background-color: white;
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 40px;
  padding-right: 30px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
}
flex-block-0 {
  display: flex;
}
.projectcard-filters {
  display: flex;
  justify-content: space-between;
}
.sub-menu {
  position: relative;
  display: flex;
}
.flex-align {
  align-items: center;
}
.justify-content {
  justify-content: space-between;
}
.block-0 {
  background-color: transparent;
  display: inline-block;
}
.block-1 {
  background-color: transparent;
  display: inline-block;
  width: 630px;
}
.block-2 {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.direction {
  overflow: scroll;
  padding-bottom: 40px;
}
.divider {
  width: 100%;
  border-bottom: 1px solid #4a4a4a;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
}
/*
======== Блок контрагента
*/
.block-section3 {
  position: relative;
  display: inline-block;
  margin-top: 70px;
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
}
.block-3-1 {
  float: left;
  display: inline-block;
  width: 50%;
  min-width: 620px;
  padding-left: 10px;
  padding-bottom: 10px;
}
.block-3 {
  width: 100%;
  min-height: 600px;
  max-height: 600px;
  background-color: white;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
}
.block-3-line-1 {
  display: block;
  border-bottom: 1px solid #D5DAE0;
  width: 100%;
  padding: 20px 20px;
}
.block-3-line-2 {
  display: flex;
  width: 100%;
}
.block-3-column-1 {
  display: inline-block;
  border-right: 1px solid #D5DAE0;
  padding: 30px 20px;
  width: 47%;
  height: 507px;
  float: left;
}
.block-3-column-2 {
  width: 53%;
  padding: 30px 20px;
}
.sub-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub_attr {
  color: #607186;
  font-size: 12px;
}
.sub_comment {
  color: #343b4c;
  font-size: 12px;
  font-style: italic;
}
h5 {
  color: #343b4c;
  font-size: 18px;
}
h6 {
  color: #607186;
  font-size: 12px;
  font-weight: 600;
}
.sub-col-1 {
  min-width: 100px;
  max-width: 100px;
  color: #607186;
  font-size: 12px;
  font-weight: 200;
}
.sub-col-2 {
  min-width: 150px;
  max-width: 150px;
  color: #343b4c;
  font-size: 12px;
}
.sub-col-3 {
  min-width: 200px;
  max-width: 200px;
  color: #343b4c;
  font-size: 12px;
}
.separation {
  margin-top: 20px;
}
.alert-1 {
  margin-top: 20px;
  padding: 28px ;
  color: #607186;
  font-size: 16px;
  background-color: rgba(160, 215, 250, 0.3);
}
/*
======== Блок клиента/бренда
*/
.block-4-1 {
  float: left;
  display: inline-block;
  width: 25%;
  min-width: 350px;
  padding-left: 10px;
  padding-bottom: 15px;
}
.block-4 {
  float: left;
  display: block;
  width: 100%;
  background-color: white;
  border: 1px solid #D5DAE0;
  border-radius: 4px;
}
.block-4-line-2 {
  width: 100%;
  padding: 10px 20px;
  background-color: #f3f4f5;
  border-bottom: 1px solid #D5DAE0;
}
.sub_attr-2 {
  color: #607186;
  font-size: 16px;
}
/*
============= MENU 2 ==================
*/
.bslines {
  margin-top: 30px;
  border-bottom: solid 1px #D5DAE0;
}
.project-menu {
  background-color: transparent;
}
.project-menu-item {
  display: inline-block;
  float: left;
  position: relative;
  padding: 20px 20px;
  box-sizing: padding-box;
  background-color: transparent;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  color: #2f4c98;
}
.selected .project-menu-item {
  color: #4a4a4a;
}
.project-menu:hover .project-menu-item {
  color: #273e7d;
}
.selected.project-menu:hover .project-menu-item {
  color: #4a4a4a;
}
.bottom-line {
  position: relative;
  bottom: -20px;
  height: 3px;
  width: 140px;
  background-color: transparent;
}
.selected .bottom-line {
  background-color: #2f4c98;
}
.vertical-separator {
  width: 1px;
  height: 30px;
  background-color: #D5DAE0;
  margin: 15px 0px;
}
.modal-1 {
  width: 700px;
  display: block;
  padding: 10px 30px;
}
.modal-2 {
  width: 520px;
  display: block;
  padding: 10px 30px;
}
.modal-3 {
  width: 830px;
  display: block;
  padding: 10px 30px;
}
.modal-4 {
  width: 415px;
  display: block;
  padding: 10px 30px;
}
.modal-dialog {
  max-width: 870px;
}
.modal-content {
  display: inline-block;
}
.modal-header {
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 50pх;
}
.modal-body {
  display: block;
  padding: 20px 40px;
}
.modal-body-1 {
  display: block;
  padding: 20px 20px;
  height: 400px;
  margin-bottom: 20px;
}
.modal-body-2 {
  display: block;
  padding: 20px 20px;
  height: 230px;
  margin-bottom: 20px;
}
.modal-body-3 {
  display: block;
  padding: 20px 20px;
  height: 1000px;
  margin-bottom: 20px;
}
.modal-body-4 {
  display: block;
  padding: 20px 20px;
  height: 90px;
  margin-bottom: 20px;
}
.modal-body-5 {
  display: block;
  padding: 20px 20px;
  height: 160px;
  margin-bottom: 20px;
}
.modal-footer {
  display: block;
  padding: 20px 40px 40px 30px;
  text-align: right;
}
.modal-block {
  background-color: aqua;
  width: 100%;
  padding: 20px 20px;
  margin: 20px 20px;
  display: block;
}
.modal-title {
  display: block;
}
.modal-close {
  background-color: aqua;
  color: forestgreen;
}
/*
=============TABLES  ==================
*/
caption {
  caption-side: top;
  font-size: 18px;
  color: #343b4c;
  font-weight: 600;
  padding-bottom: 25px;
  padding-top: 0px;
}
th.list {
  vertical-align: top !important;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px !important;
  text-align: left;
  padding-right: 0px;
  padding-bottom: 5px;
  font-size: 9px;
  font-weight: 100;
  color: #4a4a4a;
}
th.project-card {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: left;
  padding-left: 10px;
  padding-right: 0px;
  padding-bottom: 20px;
  font-size: 9px;
  font-weight: 100;
  color: #607186;
  vertical-align: top;
}
.multifilters {
  height: 30px;
  vertical-align: top;
  background-color: whites;
}
.scheduled {
  background-color: #fafafa;
}
.payed {
  background-color: rgba(126, 210, 30, 0.1);
}
.debt {
  background-color: rgba(210, 0, 30, 0.1);
}
.soon {
  background-color: rgba(250, 230, 30, 0.1);
}
.p-new {
  background-color: rgbargba(220, 30, 200, 0.05);
}
.p-estimate {
  background-color: rgba(144, 20, 254, 0.1);
}
.p-presale {
  background-color: rgba(250, 230, 30, 0.1);
}
.p-inprogress {
  background-color: #ffffff;
}
.p-finished {
  background-color: rgba(126, 210, 30, 0.1);
}
table {
  position: relative;
  border-collapse: collapse;
  background-color: transparent;
}
td.normal {
  border: 1px solid #D5DAE0;
  color: #4a4a4a;
  font-size: 12px;
  height: 36px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
td.normal3 {
  border: 1px solid #D5DAE0;
  font-size: 12px;
  height: 36px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.money {
  text-align: right;
  padding-right: 15px;
}
td.normal2 {
  border: 1px solid #D5DAE0;
  color: #4a4a4a;
  font-size: 12px;
  height: 36px;
}
td.unite {
  border-top: 1px solid #D5DAE0;
  border-bottom: 1px solid #D5DAE0;
  border-left: 0px solid #D5DAE0;
  border-right: 0px solid #D5DAE0;
}
td.unite-begin {
  border-top: 1px solid #D5DAE0;
  border-bottom: 1px solid #D5DAE0;
  border-left: 1px solid #D5DAE0;
  border-right: 0px solid #D5DAE0;
}
td.no {
  border: 0px solid #D5DAE0;
}
td.margin-1 {
  padding-right: 5px;
}
.margin-2 {
  padding-left: 10px;
}
.margin-3 {
  margin-right: 10px;
}
table.fin-statistic {
  width: 100%;
  border: 1px solid #D5DAE0;
  font-size: 10px;
}
table.fin-statistic th {
  border: 1px solid #D5DAE0;
}
table.fin-statistic td {
  border: 1px solid #D5DAE0;
}
.time-statistic {
  margin: 30px  0px;
}
.time-statistic-1 {
  width: 130px;
  font-size: 12px;
  color: #a6b1be;
}
.time-statistic-2 {
  width: 400px;
  font-size: 12px;
  color: #343b4c;
}
.inline {
  display: inline;
}
.table-text {
  font-size: 12px;
  padding: 0px 10px;
  color: #4a4a4a;
}
.table-text-total {
  font-size: 12px;
  font-weight: 600;
  padding: 0px 10px;
  color: #4a4a4a;
}
.table-total {
  padding-top: 15px;
}
.add-link {
  font-size: 12px;
}
.table-text-bold {
  font-weight: 600;
}
.table-text3 {
  font-size: 12px;
  padding: 0px 20px;
}
.level-0-h {
  font-weight: 600;
}
.level-1-h {
  padding-left: 25px !important;
  font-weight: 600;
}
.level-2-h {
  padding-left: 35px !important;
  font-weight: 600;
}
.level-3-h {
  padding-left: 45px !important;
  font-weight: 600;
}
/*
=============SIDE MENU ==================
*/
.main-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  background-color: #2f4c98;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-group {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45px;
  padding: 0px 20px;
  flex-wrap: nowrap;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
a.menu-item:hover {
  background-color: #130C3F;
  color: white;
}
a.menu-item.selected:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
.selected {
  background: rgba(255, 255, 255, 0.2);
}
/*
=============HEADER MENU ==================
*/
.header {
  position: fixed;
  padding-left: 200px;
  padding-right: 30px;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #D5DAE0;
  background-color: white;
  z-index: 9;
  white-space: nowrap;
}
.header-menu {
  position: fixed;
  padding-left: 90px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  border-bottom: 1px solid #D5DAE0;
  background-color: white;
  z-index: 9;
}
.header-submenu {
  position: fixed;
  padding-left: 90px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 76px;
  left: 0;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #D5DAE0;
  background-color: white;
  z-index: 9;
}
.backward {
  margin-left: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.triangle-left {
  position: relative;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 7px solid #2f4c98;
  margin-top: 7px;
  margin-left: 25px;
  margin-right: -30px;
  float: left;
}
.header-text-link {
  font-size: 14px;
  margin-left: 7px;
}
.header-text {
  font-size: 12px;
  margin-left: 14px;
  white-space: nowrap;
  color: #343b4c;
}
.header-extra-info {
  padding: 0 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
}
.header-filters {
  display: flex;
  padding: 0 20px;
}
.header-drop {
  margin-left: 7px;
}
/*
============= Фильтры в отчетах ==================
*/
.header-filters2 {
  position: relative;
  padding-left: 90px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 76px;
  left: 0;
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #D5DAE0;
  background-color: white;
  z-index: 9;
  font-size: 12px;
}
.block-f-0 ul {
  list-style-type: none;
  padding-left: 0px;
}
.block-f-1 ul {
  list-style-type: none;
  padding-left: 0px;
}
.r-filters {
  width: 20px;
  white-space: nowrap;
}
.block-f-0 {
  position: relative;
  width: 150px;
  float: left;
}
.block-f-1 {
  position: relative;
  width: 400px;
  float: left;
}
/*
============= UI ==================
*/
.buttom-min {
  min-width: 150px;
}
input[type="button"] {
  min-width: 150px;
  min-height: 45px;
  color: white;
  font-size: 14px;
  background: #2f4c98;
  border: none;
  outline: none;
  border-radius: 8px;
  transition-duration: 300ms;
  cursor: pointer;
}
input[type="button"]:hover {
  background: #273e7d;
}
.icon-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
}
.button {
  min-width: 150px;
  min-height: 45px;
  color: white;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  transition-duration: 300ms;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.button-green {
  background: #37c1ac;
}
.button-blue {
  background: #2f4c98;
}
.button-green:hover {
  background: #2fa593;
}
.button-blue:hover {
  background: #273e7d;
}
.button-mini {
  min-width: 70px;
  min-height: 25px;
  color: white;
  font-size: 12px;
  background: #2f4c98;
  border: none;
  outline: none;
  border-radius: 8px;
  transition-duration: 300ms;
  cursor: pointer;
}
.mini-button {
  min-height: 25px !important;
}
.button-outline {
  min-width: 150px;
  min-height: 45px;
  font-size: 14px;
  background: transparent;
  border-radius: 8px;
  outline: none;
  transition-duration: 300ms;
  cursor: pointer;
}
.button-outline-green {
  color: #37c1ac;
  border: 1px solid #37c1ac;
}
.button-outline-blue {
  color: #2f4c98;
  border: 1px solid #2f4c98;
}
.button-outline-red {
  color: #ee5a5a;
  border: 1px solid #ee5a5a;
}
.button-outline-green:hover {
  border: 1px solid #268577;
  color: #268577;
}
.button-outline-blue:hover {
  border: 1px solid #1d2f5e;
  color: #1d2f5e;
}
.button-outline-red:hover {
  border: 1px solid #e41717;
  color: #e41717;
}
a.outline-button {
  float: left;
  width: 150px;
  height: 45px;
  font-size: 14px;
  background: transparent;
  outline: none;
  padding-top: 10px;
  border-radius: 8px;
  transition-duration: 300ms;
  text-align: center;
  text-decoration: none;
}
.outline-button-green {
  color: #37c1ac;
  border: 1px solid #37c1ac;
}
.outline-button-blue {
  color: #2f4c98;
  border: 1px solid #2f4c98;
}
.outline-button-green:hover {
  border: 1px solid #268577;
  color: #268577;
}
.outline-button-blue:hover {
  border: 1px solid #1d2f5e;
  color: #1d2f5e;
}
a.filled-button {
  float: left;
  width: 50px;
  height: 28px;
  color: white;
  font-size: 14px;
  background-color: #2f4c98;
  outline: none;
  border-radius: 8px;
  transition-duration: 300ms;
  padding-top: 12px;
  margin-right: 15px;
  text-align: center;
  text-decoration: none;
}
a.filled-button:hover {
  background-color: #1d2f5e;
  color: white;
}
.button-rounder {
  border-radius: 100px;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 14px;
  background: #2f4c98;
  border: none;
  outline: none;
  transition-duration: 300ms;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}
.button-rounder:hover {
  border: 1px solid #1d2f5e;
  background-color: #1d2f5e;
}
.select-positioner-2 {
  margin-right: 10px;
  float: left;
}
.label1 {
  font-size: 12px;
  color: #a6b1be;
  display: block;
  margin-bottom: 7px;
  line-height: 14px;
}
.question-icon {
  font-size: 10px;
  margin-right: 0px;
  margin-left: 5px;
  color: #a0d7fa;
}
.close-icon {
  font-size: 28px;
  color: #2f4c98;
  margin-top: 5px;
}
.add-icon {
  font-size: 35px;
  color: #2f4c98;
}
.excel-icon {
  font-size: 25px;
  color: #2f4c98;
  margin-left: 10px;
  margin-top: 7px;
}
.add-icon:hover {
  box-shadow: 0 0 3px 1px rgba(74, 74, 74, 0.1);
}
.dots-icon {
  margin: 5px 65px;
  font-size: 10px;
  color: #D5DAE0;
}
.edit-icon {
  font-size: 25px;
  color: #2f4c98;
}
.edit-icon:hover {
  color: #273e7d;
}
.login-icon {
  margin: 0px 7px;
  font-size: 15px;
  color: #4a4a4a;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #2f4c98;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.back-btn:hover {
  background-color: #dfe2e6;
}
.tablerow-f-c {
  background-color: rgba(47, 76, 152, 0.6);
  color: white !important;
}
.tablerow-f-p {
  padding-left: 20px !important;
}
.tablerow-0-c {
  background-color: #2f4c98;
  color: white !important;
}
.tablerow-0-p {
  padding-left: 20px !important;
}
.tablerow-1-c {
  background-color: rgba(47, 76, 152, 0.15);
}
.tablerow-1-p {
  padding-left: 70px !important;
}
.tablerow-2-c {
  background-color: rgba(47, 76, 152, 0.1);
}
.tablerow-2-p {
  padding-left: 100px  !important;
}
.tablerow-3-c {
  background-color: rgba(47, 76, 152, 0.05);
}
.tablerow-3-p {
  padding-left: 130px  !important;
}
.tablerow-4-c {
  background-color: white;
}
.tablerow-4-p {
  padding-left: 160px  !important;
}
.stages select {
  height: 50px;
}
.product-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.product-list-element {
  display: flex;
  align-items: center;
}
.last-col-width {
  width: 120px;
}
.messages {
  position: fixed;
  bottom: 30px;
  right: 34px;
  z-index: 10000;
  max-width: 300px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.messages-enter-active,
.messages-leave-active {
  transition: all 1s;
}
.messages-enter,
.messages-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.indent-arrow {
  transform: rotate(90deg);
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */