{% extends 'base_app.html' %}
{% load static %}

{% block header %}
    <div style="white-space: nowrap;">
        <h1 class="title">
            {{wording.h1_list}}
        </h1>

        <button type="submit" class="{{js.jscreate}} button button-green" data-url="{{url.create}}">
            {{wording.btn_add}}
        </button>

        <button type="submit" class="{{js.jshistory}} button-outline button-outline-green" data-url={{url.history}}>
                {{wording.btn_history}}
        </button>

    </div>




{% endblock %}




{% block content %}


<div class="block-section">
    <table style="width: 1300px; text-align: left;" id="doc_templates_list">
        <thead>
            <tr >
                <th>Название</th>
                <th>Путь</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% include 'app_setup/doc_templates/partial_list.html' %}
        </tbody>

    </table>
</div>



<div class="block-section">
    <div>
        <p>Работа с шаблонами:</p>
        <ul>
            <li>Вы создаете файл шаблона. Формат - *.docx. Пример переменных, которые можно загрузить вы найдете в <a target="_blank" href="{% static 'docs/template_example.docx' %}">файле примере</a></li>
            <li>Загружаете шаблон в этом разделе</li>
            <li>В разделе Документы создаете документы и в настройках выбираете шаблон на основе, которго будет генериться документ. Также, по желанию, вы можете присоеденить
        связать документ с проектом, транзакцией и отчетом. В таком случае информацию о них может быть использована при генерации.</li>
        </ul>
        <p>Если информция не появилась в шаблоне значит эти данные не заполнены в системе</p>
    </div>
</div>




<div class="modal fade" id="modal-global">
    <div class="modal-dialog">
          <div class="modal-content">
         </div>
    </div>
</div>

{% endblock %}


{% block javascript %}
    <script type='text/javascript' src="{% static 'js/doc_templates.js' %}"></script>
{% endblock %}


