{% load widget_tweaks %}




    <div class="modal-header">
            <h4 >
                {{wording.h1_history}}
            </h4>
            <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="far fa-times close-icon"></i></span>
            </button>
    </div>

    <div class="modal-body">

    {% for record in records %}
        {{record}}<br><br><br>
    {% endfor %}

    </div>

    <!--<div class="modal-footer">-->
        <!--<button type="button" class="button-outline" data-dismiss="modal">{{wording.btn_cancel}}</button>-->
        <!--<button type="submit" class="button">{{wording.h1_create}}</button>-->
    <!--</div>-->


