{% extends 'base_app.html' %}
{% load static %}
{% load widget_tweaks %}
{% load get_verbose_name %}

{% block header %}
    <div style="white-space: nowrap; min-width: 1000px;" >
        <h1 class="title">
            [[wording.h1_list_p]]
        </h1>
          <button  type="submit" class="btn btn-primary btn pr-3 pl-3 pt-2 pb-2 ml-5" v-on:click="createInstance">
            Добавить проект
        </button>
        <button v-on:click="showHistory" type="submit" class="js-history-transaction btn btn-link text-primary btn  ml-3" >
                <i class="far fa-hourglass-start"></i> [[wording.btn_history]]
        </button>
        <button  v-on:click="exportExcel" ty type="submit" class="btn btn-link text-primary btn " value='excel' name="xls" >
             <i class="fas fa-file-excel"></i> Excel
        </button>
    </div>
    <div style="white-space: nowrap;">
        <button  v-on:click.prevent="cleanFilter" type="submit" class="btn btn-outline-success  pr-3 pl-3 pt-2 pb-2"  >Очистить</button>
          <button v-on:click.prevent="updateList"  type="submit" style="position: relative;" class="btn btn-success  pr-3 pl-3 pt-2 pb-2 " id="filter_button">

              Фильтровать

        </button>
    </div>


{% endblock %}


{% block content %}

    <div class="block-section">

        <table  id="projects_list" class="table table-striped table-hover" >
            <thead>
                <tr >
                    <th class="width-4 list">{% get_verbose_name obj 'name' %} <i id="code_2" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'name_short' %} <i id="code_3" class="help-modal far fa-question-circle question-icon"></i> </th>
                    <th class="width-6 list">{% get_verbose_name obj 'category' %}<i id="code_4" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-6 list">{% get_verbose_name obj 'subcategory' %}<i id="code_5" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'brand' %}<i id="code_6" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-3 list">{% get_verbose_name obj 'work_format' %}<i id="code_7" class="help-modal far fa-question-circle question-icon"></i></th>
{#                    <th class="width-5 list">{% get_verbose_name obj 'agreement_format' %}<i id="code_8" class="help-modal far fa-question-circle question-icon"></i></th>#}
                    <th class="width-5 list">{% get_verbose_name obj 'stage' %}<i id="code_9" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-3 list">{% get_verbose_name obj 'project_start' %}<i id="code_10" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-3 list">{% get_verbose_name obj 'project_end' %}<i id="code_11" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'nb_source' %}<i id="code_12" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'nb_format' %}<i id="code_13" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'project_products' %}<i id="code_14" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-3 list">{% get_verbose_name obj 'created_at' %}<i id="code_15" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'created_by' %}<i id="code_16" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-3 list">{% get_verbose_name obj 'modified_at' %}<i id="code_17" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'modified_by' %}<i id="code_18" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">Лидер проекта<i id="code_19" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">Команда проекта<i id="code_20" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">Вовлеченные юниты<i id="code_21" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">Выручка (в основной валюте)<i id="code_22" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">Внешние расходы (в основной валюте)<i id="code_23" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">Валовая прибыль (в основной валюте)<i id="code_24" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">РВП (в основной валюте)<i id="code_25" class="help-modal far fa-question-circle question-icon"></i></th>
                    <th class="width-5 list">{% get_verbose_name obj 'is_editable' %}<i id="code_26" class="help-modal far fa-question-circle question-icon"></i></th>
                </tr>
                <tr is="v-filter" ref="filter" :filter-param.sync="filterParam" v-on:update-list="updateList" ></tr>

            </thead>

            <tbody
                is="v-list"
                ref="list"
                :paginator.sync="paginator"
                :filter-param.sync="filterParam"
                v-on:isready="isReadyList = true"
                v-on:isloaded="pageLoading = false"
                v-on:isloading="pageLoading = true"
                v-on:update-instance="updateInstance"
                v-on:delete-instance="deleteInstance"
                v-on:create-instance-child="createInstanceChild"
            ></tbody>

        </table>


    </div>

    <!--Pagination-->
    <div id="pagination" class="block-section">
        <v-paginator :paginator.sync="paginator" v-on:update-list="updateList"></v-paginator>
    </div>
    <!--End-->


    <!--Modals-->
    <v-create-instance ref="createInstance" :wording="wording" v-on:update-list="updateList"></v-create-instance>
    <v-history ref="history" :wording="wording"></v-history>
    <v-excel ref="excel" :filter-param="filterParam"></v-excel>

    <!--End-->

{% endblock %}




{% block javascript %}
    <script type='text/javascript' src="{% static 'projects/js/app.js' %}"></script>
    <script type='text/javascript' src="{% static 'projects/js/chunk-vendors.js' %}"></script>

{% endblock %}