{% load widget_tweaks %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{{ form.as_p }}

{{ formset_file.management_form }}
{% for form in formset_file %}


  {{ form.non_field_errors }}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field.errors }}
    {{ hidden_field }}
  {% endfor %}

    {% if form.path == '' %}
        <p>{{ form.file }}</p>
        <p>{{ form.comment }}</p>
        <p>{{ form.type }}</p>
    {% else %}

        <p><a href="{{form.path}}">{{ form.filename }}</a></p>
        <p>{{ form.comment }}</p>
        <p>{{ form.type }}</p>
        {% if formset_file.can_delete %}
            <p>Удалить{{ form.DELETE }}</p>
        {% endif %}

    {% endif %}




{% endfor %}




