{% extends 'app_setup/global/setup_list.html' %}
{% load static %}

{% block table %}
<div class="block-section">
    <table id="purposes_list" class="table table-hover table-bordered">


            {% include 'app_setup/purposes/partial_list.html' %}

    </table>
</div>
{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/purposes.js' %}"></script>
{% endblock %}


